{% extends "base.html" %}
{% block head_title %}箕島工場屋内{% endblock %}

{% block content %}
<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
  <div class="container" >
    <h1 class="my-3 text-start mx-auto" style="max-width:400px">{% if not profile %}3.箕島工場屋内の風景{% else %}{{profile.username}}の箕島工場屋内の風景{% endif %}</h1>
    <hr>
  </div>
</head>

<body>
    <div style="border: 2px solid #8b4513; background: #ffffff; box-shadow:3px 3px 6px -2px #555;">
        <div style="background: #8b4513; color: #ffffff; padding: 7px 15px 1px 15px;"><p><font size="5">液漏れ</font></p></div>
            <div style="padding: 15px;">
                <p style="margin: 0;">
                    <a href="/media/pages/101-1.jpg" data-lightbox="group101"><img src="/media/pages/101-1.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/101-2.jpg" data-lightbox="group101"><img src="/media/pages/101-2.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/101-3.jpg" data-lightbox="group101"><img src="/media/pages/101-3.jpg" width="300" height="300" border="2" vspace="2"></a>
                    
                </p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>

    <div style="border: 2px solid #8b4513; background: #ffffff; box-shadow:3px 3px 6px -2px #555;">
        <div style="background: #8b4513; color: #ffffff; padding: 7px 15px 1px 15px;"><p><font size="5">仮原料置場(埃だらけ)</font></p></div>
            <div style="padding: 15px;">
                <p style="margin: 0;">
		    <a href="/media/pages/102-1.jpg" data-lightbox="group102"><img src="/media/pages/102-1.jpg" width="300" height="300" border="2" vspace="2"></a>
		    <a href="/media/pages/102-2.jpg" data-lightbox="group102"><img src="/media/pages/102-2.jpg" width="300" height="300" border="2" vspace="2"></a>  

                </p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>

    <div style="border: 2px solid #8b4513; background: #ffffff; box-shadow:3px 3px 6px -2px #555;">
        <div style="background: #8b4513; color: #ffffff; padding: 7px 15px 1px 15px;"><p><font size="5">温泉?</font></strong></p></div>
            <div style="padding: 15px;">
                <p style="margin: 0;">
		            <a href="/media/pages/103-1.jpg" data-lightbox="group103"><img src="/media/pages/103-1.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/103-2.jpg" data-lightbox="group103"><img src="/media/pages/103-2.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/103-3.jpg" data-lightbox="group103"><img src="/media/pages/103-3.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/103-4.jpg" data-lightbox="group103"><img src="/media/pages/103-4.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/103-5.jpg" data-lightbox="group103"><img src="/media/pages/103-5.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/103-6.jpg" data-lightbox="group103"><img src="/media/pages/103-6.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/103-7.jpg" data-lightbox="group103"><img src="/media/pages/103-7.jpg" width="300" height="300" border="2" vspace="2"></a>


                </p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>

    <div style="border: 2px solid #8b4513; background: #ffffff; box-shadow:3px 3px 6px -2px #555;">
        <div style="background: #8b4513; color: #ffffff; padding: 7px 15px 1px 15px;"><p><font size="5">原料置き場埃だらけ</font></p></div>
            <div style="padding: 15px;">
                <p style="margin: 0;">
                    <a href="/media/pages/104-1.jpg" data-lightbox="group104"><img src="/media/pages/104-1.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/104-2.jpg" data-lightbox="group104"><img src="/media/pages/104-2.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/104-3.jpg" data-lightbox="group104"><img src="/media/pages/104-3.jpg" width="300" height="300" border="2" vspace="2"></a>


                </p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>

    <div style="border: 2px solid #8b4513; background: #ffffff; box-shadow:3px 3px 6px -2px #555;">
        <div style="background: #8b4513; color: #ffffff; padding: 7px 15px 1px 15px;"><p><font size="5">原料封を開けて保管</font></p></div>
            <div style="padding: 15px;">
                <p style="margin: 0;">
                    <a href="/media/pages/105-1.jpg" data-lightbox="group105"><img src="/media/pages/105-1.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/105-2.jpg" data-lightbox="group105"><img src="/media/pages/105-2.jpg" width="300" height="300" border="2" vspace="2"></a>

                </p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>

    <div style="border: 2px solid #8b4513; background: #ffffff; box-shadow:3px 3px 6px -2px #555;">
        <div style="background: #8b4513; color: #ffffff; padding: 7px 15px 1px 15px;"><p><font size="5">階段補修したほうが良いのでは?</font></p></div>
            <div style="padding: 15px;">
                <p style="margin: 0;">
                    <a href="/media/pages/106-1.jpg" data-lightbox="group106"><img src="/media/pages/106-1.jpg" width="300" height="300" border="2" vspace="2"></a>
                   
                </p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>

    <div style="border: 2px solid #8b4513; background: #ffffff; box-shadow:3px 3px 6px -2px #555;">
        <div style="background: #8b4513; color: #ffffff; padding: 7px 15px 1px 15px;"><p><font size="5">階段埃だらけ</font></p></div>
            <div style="padding: 15px;">
                <p style="margin: 0;">
                    <a href="/media/pages/107-1.jpg" data-lightbox="group107"><img src="/media/pages/107-1.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/107-2.jpg" data-lightbox="group107"><img src="/media/pages/107-2.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/107-3.jpg" data-lightbox="group107"><img src="/media/pages/107-3.jpg" width="300" height="300" border="2" vspace="2"></a>
                </p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    
    <div style="border: 2px solid #8b4513; background: #ffffff; box-shadow:3px 3px 6px -2px #555;">
        <div style="background: #8b4513; color: #ffffff; padding: 7px 15px 1px 15px;"><p><font size="5">原料置き場埃だらけ</font></p></div>
            <div style="padding: 15px;">
                <p style="margin: 0;">
                    <a href="/media/pages/108-1.jpg" data-lightbox="group108"><img src="/media/pages/108-1.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/108-2.jpg" data-lightbox="group108"><img src="/media/pages/108-2.jpg" width="300" height="300" border="2" vspace="2"></a>
                </p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>

    <div style="border: 2px solid #8b4513; background: #ffffff; box-shadow:3px 3px 6px -2px #555;">
        <div style="background: #8b4513; color: #ffffff; padding: 7px 15px 1px 15px;"><p><font size="5">原料置き場埃だらけ</font></p></div>
            <div style="padding: 15px;">
                <p style="margin: 0;">
	                <a href="/media/pages/109-1.jpg" data-lightbox="group109"><img src="/media/pages/109-1.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/109-2.jpg" data-lightbox="group109"><img src="/media/pages/109-2.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/109-3.jpg" data-lightbox="group109"><img src="/media/pages/109-3.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/109-4.jpg" data-lightbox="group109"><img src="/media/pages/109-4.jpg" width="300" height="300" border="2" vspace="2"></a>
                </p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>

    <div style="border: 2px solid #8b4513; background: #ffffff; box-shadow:3px 3px 6px -2px #555;">
        <div style="background: #8b4513; color: #ffffff; padding: 7px 15px 1px 15px;"><p><font size="5">原料置き場埃だらけ</font></p></div>
            <div style="padding: 15px;">
                <p style="margin: 0;">
                    <a href="/media/pages/110-1.jpg" data-lightbox="group110"><img src="/media/pages/110-1.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/110-2.jpg" data-lightbox="group110"><img src="/media/pages/110-2.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/110-3.jpg" data-lightbox="group110"><img src="/media/pages/110-3.jpg" width="300" height="300" border="2" vspace="2"></a>
                </p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
            
    <div style="border: 2px solid #8b4513; background: #ffffff; box-shadow:3px 3px 6px -2px #555;">
        <div style="background: #8b4513; color: #ffffff; padding: 7px 15px 1px 15px;"><p><font size="5">原料置き場埃だらけ</font></p></div>
            <div style="padding: 15px;">
                <p style="margin: 0;">
                    <a href="/media/pages/111-1.jpg" data-lightbox="group111"><img src="/media/pages/111-1.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/111-2.jpg" data-lightbox="group111"><img src="/media/pages/111-2.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/111-3.jpg" data-lightbox="group111"><img src="/media/pages/111-3.jpg" width="300" height="300" border="2" vspace="2"></a>
                </p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
            
    <div style="border: 2px solid #8b4513; background: #ffffff; box-shadow:3px 3px 6px -2px #555;">
        <div style="background: #8b4513; color: #ffffff; padding: 7px 15px 1px 15px;"><p><font size="5">原料置き場パレット汚れ</font></p></div>
            <div style="padding: 15px;">
                <p style="margin: 0;">
                    <a href="/media/pages/112-1.jpg" data-lightbox="group112"><img src="/media/pages/112-1.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/112-2.jpg" data-lightbox="group112"><img src="/media/pages/112-2.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/112-3.jpg" data-lightbox="group112"><img src="/media/pages/112-3.jpg" width="300" height="300" border="2" vspace="2"></a>
                </p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>

    <div style="border: 2px solid #8b4513; background: #ffffff; box-shadow:3px 3px 6px -2px #555;">
        <div style="background: #8b4513; color: #ffffff; padding: 7px 15px 1px 15px;"><p><font size="5">製品置き場塵だらけ</font></p></div>
            <div style="padding: 15px;">
                <p style="margin: 0;">
                    <a href="/media/pages/113-1.jpg" data-lightbox="group113"><img src="/media/pages/113-1.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/113-2.jpg" data-lightbox="group113"><img src="/media/pages/113-2.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/113-3.jpg" data-lightbox="group113"><img src="/media/pages/113-3.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/113-4.jpg" data-lightbox="group113"><img src="/media/pages/113-4.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/113-5.jpg" data-lightbox="group113"><img src="/media/pages/113-5.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/113-6.jpg" data-lightbox="group113"><img src="/media/pages/113-6.jpg" width="300" height="300" border="2" vspace="2"></a>
                </p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>

    <div style="border: 2px solid #8b4513; background: #ffffff; box-shadow:3px 3px 6px -2px #555;">
        <div style="background: #8b4513; color: #ffffff; padding: 7px 15px 1px 15px;"><p><font size="5">パレット直置き大丈夫?</font></p></div>
            <div style="padding: 15px;">
                <p style="margin: 0;">
                    <a href="/media/pages/114-1.jpg" data-lightbox="group114"><img src="/media/pages/114-1.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/114-2.jpg" data-lightbox="group114"><img src="/media/pages/114-2.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/114-3.jpg" data-lightbox="group114"><img src="/media/pages/114-3.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/114-4.jpg" data-lightbox="group114"><img src="/media/pages/114-4.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/114-5.jpg" data-lightbox="group114"><img src="/media/pages/114-5.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/114-6.jpg" data-lightbox="group114"><img src="/media/pages/114-6.jpg" width="300" height="300" border="2" vspace="2"></a>
                    <a href="/media/pages/114-7.jpg" data-lightbox="group114"><img src="/media/pages/114-7.jpg" width="300" height="300" border="2" vspace="2"></a>
                </p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>

    <div style="border: 2px solid #8b4513; background: #ffffff; box-shadow:3px 3px 6px -2px #555;">
        <div style="background: #8b4513; color: #ffffff; padding: 7px 15px 1px 15px;"><p><font size="5">工場内の壁埃だらけ</font></p></div>
            <div style="padding: 15px;">
                <p style="margin: 0;">
                    <a href="/media/pages/115-1.jpg" data-lightbox="group115"><img src="/media/pages/115-1.jpg" width="300" height="300" border="2" vspace="2"></a>
                </p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
</body>
{% endblock %}